* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-wrapper {
  padding: 0 16px;
  width: 1280px;
  margin: auto;
}

button, input, textarea {
  padding: 8px;
}

/* =============== HEADER / NAVBAR =============== */

header {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
}

nav, .sign-links {
  display: flex;
}

nav {
  gap: 60px;
}

.sign-links {
  gap: 20px;
}

/* =============== HOME/POSTS/POST =============== */

.recently-published-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.recently-published-header, .article-count {
  margin-top: 40px;
}

.recently-published-article p {
 margin: 8px 0 16px;
}

.article-body-text {
  margin-top: 32px;
}

.single-article {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.single-article-text {
  margin-top: 16px;
}

/* =============== COMMENTS =============== */

.comments-section {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.comments-section h4 {
  margin-bottom: 16px;
}

.comment {
  display: inline-block;
}

.comment span {
  margin-left: 16px;
  font-size: 14px;
  color: #b4b4b4;
}

.send-comment-btn {
  margin-top: 16px;
}

.comments-form {
  margin-bottom: 16px;
}

/* =============== SIGN UP/IN =============== */

.form-container {
  border: 1px solid #dbdbdb;
  padding: 32px;
  width: 500px;
  margin: 50px auto 0;
}

.sign-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input-holder {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sign-form button {
  margin-top: 10px;
}